

<h3> Repositories:<%= @hub_user.public_repos %> </h3>
<h3> Following:<%= @hub_user.following %> </h3>
<h3> Followers:<%= @hub_user.followers %> </h3>

<p>if 'pinned' !nil, render pined repo cards. else render popular repo cards.</p>
