---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/BLaurenB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token some_place_holder_string_to_appear_in_your_cassette
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1517447296'
      Etag:
      - W/"e5a3de37ba1b97b6fa597a00d5fa9390"
      Last-Modified:
      - Wed, 31 Jan 2018 03:41:13 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - c76ca5131e13dae3c4c9
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"BLaurenB","id":20262199,"avatar_url":"https://avatars0.githubusercontent.com/u/20262199?v=4","gravatar_id":"","url":"https://api.github.com/users/BLaurenB","html_url":"https://github.com/BLaurenB","followers_url":"https://api.github.com/users/BLaurenB/followers","following_url":"https://api.github.com/users/BLaurenB/following{/other_user}","gists_url":"https://api.github.com/users/BLaurenB/gists{/gist_id}","starred_url":"https://api.github.com/users/BLaurenB/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BLaurenB/subscriptions","organizations_url":"https://api.github.com/users/BLaurenB/orgs","repos_url":"https://api.github.com/users/BLaurenB/repos","events_url":"https://api.github.com/users/BLaurenB/events{/privacy}","received_events_url":"https://api.github.com/users/BLaurenB/received_events","type":"User","site_admin":false,"name":"BLaurenB","company":null,"blog":"","location":null,"email":"blbillington1@gmail.com","hireable":true,"bio":"I
        like to turn powder into fancy cakes, strings into wearable clothing, ideas
        into music, and turn code into meaningful software! ","public_repos":28,"public_gists":13,"followers":1,"following":1,"created_at":"2016-07-03T02:44:47Z","updated_at":"2018-01-31T03:41:13Z"}'
  recorded_at: Thu, 01 Feb 2018 01:07:00 GMT
recorded_with: VCR 4.0.0
