/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  margin: 10px;
  font-family: 'Helvetica';
  text-decoration: none;
}

.text-color-blue{
  color: #0078be
}

.text-color-ltgrey{
  color: #d6d0d0;
}

.bold{
  font-weight: bold;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.bottom-line{
  border-bottom: solid;
  border-color: #b2acac;
  border-width: 2px;
}

.border{
  border-style: solid;
  border-color: #b2acac;
  border-width: 1px;

}

.site-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, [row] auto);
    background-color: white;
    color: black;
}


.box {
  background-color: #white;
  color: #black;
  /* border-radius: 5px; */
  /* border-style: solid;
  border-width: 1px; */
  padding: 5px;
  font-size: 95%;
}

.header {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row: 1;
  color: #ffffff;
  background-color: #000000;
}

    .nav-wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1;
    }

    .git-links {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .display-name {
      grid-column-start: 4;
      grid-column-end: 5;
    }
    .login-logout {
      grid-column-start: 5;
      grid-column-end: 6
    }



.sidebar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
}

.content {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row: 2;
}

  .content-inner-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2;
  }

  .overview-tab {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }
  .repo-tab {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
  }
  .stars-tab {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
  }
  .followers-tab {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
  }
  .following-tab {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row: 1;
  }


.footer {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row: 3;
  background-color: #white;
}
